<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="redisAopUtil" class="com.gudeng.commerce.gd.promotion.bo.RedisAopUtil">
		<property name="redisClient" ref="redisClient"></property>
	</bean>

	<bean id="redisClient"
		class="com.gudeng.framework.sedis.client.impl.DefGDBinaryRedisClient">
		<constructor-arg value="conf/review-cache.xml" />
	</bean>

</beans>