<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:p="http://cxf.apache.org/policy" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
   	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
   	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
   	http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd 
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="defaultHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	
	
	<bean name="/taskService/pushMessageTaskService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="pushMessageTaskService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.task.service.PushMessageTaskService" />
	</bean>
	
	<!-- 生成静态页面 -->
	<bean name="/taskService/staticHtmlService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="staticHtmlService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.task.service.StaticHtmlService" />
	</bean>	
	
		<!-- 过期产品下架 -->
	<bean name="/taskService/expireProductTask.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="expireProductTask" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.task.service.ExpireProductTask" />
	</bean>	
	
		<!-- 广告下架 -->
	<bean name="/taskService/adTask.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="adTaskService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.task.service.AdTaskService" />
	</bean>
	<!-- 交易订单导入 -->
	<bean name="/taskService/orderBillTaskService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="orderBillTaskService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.task.service.OrderBillTaskService" />
	</bean>		
	

</beans>