@charset "utf-8";
body{background: #eeeeee;}
.dn{display: none;}
.db{display: block;}
.fr{float: right;}
.fl{float: left;}
/*已发布订单详情*/
.main{width: 100%; margin-top: 0.5rem;font-family: "黑体";}
.main-con{background: #fff; }
.tit{font-size: 1.2rem;color: #666666;line-height: 3rem; border-bottom: solid 1px #eeeeee; margin: 0 1rem;}
.tit-rig{color: #ff6c00; display: inline-block;line-height: 3rem; }
.con-img{width: 100%; }
.img-p{ text-align: center;line-height: 7rem;color: #41b555;font-size: 1.6rem;margin-bottom:0; /*padding-left: 2rem;padding-right: 2rem;*/}
/*.bus-ico{display: inline-block; background: url(../../v1.0/images/form-img01.png) no-repeat center center;width: 7.4rem;height:3.45rem;background-size: 7.4rem 3.45rem;position:relative;top:0.2rem;margin: 0 1rem;}*/
.bus-ico{display: inline-block;background: url(../../v1.0/images/form-img01.png) no-repeat center center;height:3.45rem;width: 30%;max-width: 7.4rem;background-size: 100% 3.45rem;position:relative;top:0.2rem;margin: 0 1rem;}
.main-h2{color: #999999;font-size:1.2rem;line-height: 3rem;padding: 0 1rem ; position: relative;}
.cont-div{border-bottom: solid 1px #eeeeee; padding: 1.5rem 1rem;}
.cont-lef{font-size: 1.6rem;color: #666666;}
.cont-rig{font-size: 1.4rem;color: #999999; max-width: 19rem; line-height: 1.6rem;}
.cont-more{font-size: 1.4rem;color: #999999; text-align: center; line-height: 4.5rem;border-top: solid 1px #eeeeee;}
.cont-more a{color: #ff6c00;}
.cont-more a:hover{color: #ff6c00;}
.cont-rig a{color: #ff6c00;}
.cont-rig a:hover{color: #ff6c00;}
.bor-non{border-bottom: none;}
.co-ff6c00{color: #ff6c00;}
.weig{display: inline-block;margin-left: 1rem; position: relative; }
.weig2{margin-right: 0.5rem;}
.mar-top{margin-top: 0.5rem;}
.lif{display: inline-block;position: absolute;font-size: 1rem;top:-5px;    top: -0.4rem;    left: 1.1rem;}
.btn-qx{position:relative;margin:0 auto;width:8.9rem; height: 2.9rem; font-size: 1.6rem;color: #ff6c00;border: solid 1px #ff6c00; line-height: 2.9rem;text-align: center;border-radius: 0.2rem;cursor: pointer;}
.btn-con{padding: 0.75rem 0;}
/*待成交订单详情*/
.cro{ position:absolute;top:-0.3rem; display: inline-block;left: 0.5rem;}
.det-tit{color: #999999; font-size: 1.2rem; line-height:1.5rem;margin-bottom: 0;}
.det-lef{margin: 0.5rem 0 0.5rem 2rem; width: 14.5rem;}
.det-txt{display: inline-block; margin-left: 2rem;}
.pho-ico{display: inline-block; background: url(../../v1.0/images/pho-ico.png) no-repeat center center;width: 2.3rem;height:3.1rem;background-size: 2.3rem 3.1rem;position:relative;top:0.8rem;margin: 0 1rem;}
.pho-num{ margin-top: 0.75rem; font-size: 1.2rem;color: #fc6c21;}
.det-rig{margin:3rem 4rem 0 0 ;}
.btn-p{width: 20.7rem; margin: 0 auto;}
.mar-ri{margin-right:2.5rem ;}
.btn-666{color: #666;border: solid 1px #666;}
.btn-1{width: 100%;border: none;color: #666666; position: relative;}
.btn-2{width:50%;}
.left-ico-con{display: inline-block; position: absolute; background: url(../../v1.0/images/btn-ico01.png) no-repeat center center;width: 0.1rem;height:3rem;background-size: 0.1rem 3rem; left: 0;}


.btn-bor{ border-left: solid 1px #EEEEEE; border-radius:0;}
.btn-3{width: 33%; position: relative;}
.btn-con .co-ff6c00-01{color: #ff6c00;}
.btn-ico02{display: inline-block; background: url(../../v1.0/images/btn-ico02.png) no-repeat center center;width: 2.1rem;height:2.45rem;background-size: 2.1rem 2.45rem;position:absolute;left:-2rem;}
.btn-ico03{display: inline-block; background: url(../../v1.0/images/btn-ico02.png) no-repeat center center;width: 2.1rem;height:2.45rem;background-size: 2.1rem 2.45rem;position:absolute;left:-2rem;}
.btn-ico04{display: inline-block; background: url(../../v1.0/images/btn-ico02.png) no-repeat center center;width: 2.1rem;height:2.45rem;background-size: 2.1rem 2.45rem;position:absolute; left:-2rem; margin-top: 0.2rem;}
.bor-bot{border-bottom: solid 1px #eeeeee;}
.btn-ico-con{position: relative; margin-left: 2rem;}
.mui-popup{position: fixed;}
.mui-popup-button{color: #ff6c00;}
.mui-popup-button:last-child{color: #999999; }
.det-t2{ display: inline-block;}
.mui-toast-message{color: #999999;}
.cont-ind{margin-right: -0.7rem;}
.addr{line-height: 1.8rem;display: inline-block;width: 25%;margin-top: 1.7rem;position: relative;}
.add-con{font-size:14px;text-align:left;display: inline-block;}
.pho-nub{opacity: 0;}
.add-dot{display: inline-block;}

.bus-num1{width:7.1rem;}
.bus-num2{margin-left: 0;}
.main-bot-mar{margin-top: 0.5rem;}

.mui-popup{-webkit-transform:translate3d(0,0,0) scale(1);transform:translate3d(0,0,0) scale(1)}
.mui-popup.mui-popup-in{-webkit-transform: translate3d(0,0,0) scale(1);transform: translate3d(0,0,0) scale(1);}
.mui-popup.mui-popup-out {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
    opacity: 0
}
/*--S 显示详情  --*/
.add-con>.glyphicon-arrow{margin-left:2px !important;float:right;border-width:7px;border-top:7px solid;border-bottom:none}
.add-con>.glyphicon-arrow>i{float: right; border-width: 5px;border-top: 5px solid;border-bottom: none; border-top-color: #ffffff;margin: -7px -5px;}
.add-con>.addr-less{display:block;word-break:break-all}
.add-con>.addr-detail{display:none;word-break:break-all}
.add-con.expand>.glyphicon-arrow{border-top:none;border-bottom:8px solid}
.add-con.expand>.glyphicon-arrow>i{float: right;border-width: 5px;border-bottom: 5px solid;border-top: none;border-bottom-color: #ffffff;margin: 3px -5px;}
.add-con.expand>.addr-less{display:none}
.add-con.expand>.addr-detail{display:block}
/*--E 显示详情  --*/





