/**reset**/
@media screen and (min-width:1200px){html{font-size: 125%;/*10 ÷ 16 × 100% × 2 = 62.5%  pc chrom最小字体12px所以为了调试方便，rem定为20px*/}}
@media screen and (min-width: 980px) and (max-width: 1199px) {html{font-size: 125%;}}
@media screen and (min-width: 768px) and (max-width: 979px) {html{font-size: 100%;}}
@media screen and (max-width: 767px){html{font-size: 75%;}}
@media screen and (max-width: 480px) {html{font-size: 62.5%;}}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}
img{vertical-align:top;border:none;}
textarea{overflow: auto;vertical-align: top;resize:none;}
button,input,select,textarea {font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
table {border-collapse:collapse;border-spacing:0}
em,i,b{ font-style:normal; font-weight:normal;}
body {
	overflow-x:hidden;
	font-family: "Microsoft YaHei",'Helvetica Neue', Helvetica, Arial, sans-serif;  /*为了让电脑上和手机一样字体效果。手机是没有"Microsoft YaHei",'Helvetica Neue'*/
	/***min-width: 300px;设置最小宽HTCG7***/
	-webkit-text-size-adjust:none;/**避免重力感应时文字随分辨率增大而增大**/ 
	/** display:-webkit-box;/**流布局**/
	color:#666;
	background: #fff;
	line-height: 1;
}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
ul, li, ol, dl, dd, dt{list-style:none;list-style-position:outside;}
img	{ border:none;max-width: 100%;height: auto;}
a{color:#565656;}
a:link, a:hover{text-decoration:none;color:#666}
a:link *, a:hover *{text-decoration:none;}
@-ms-viewport {width: device-width;}
.clear{clear:both}
.clearfix:after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
.fl{float: left;}
.fr{float: right;}

/**gdmslide**/
.js-slider{overflow:hidden;position:relative;}
.js-slider-img-wrap{overflow:hidden;}
.js-slider-h .js-slider-img{float:left;}
.js-slider-num-wrap{position:absolute;bottom:5px;right:5px;z-index:1000;}
.js-slider-num{float:left;}
.js-slider-num-cur{color:#f00;}
.js-slider-pic img{width:100%;height:auto;}
.js-slider-num li{margin-left: 4px;width: 12px;height: 12px;border-radius: 6px;text-indent: -9999px;background-color: #3c1809;}
.js-slider-num .js-slider-num-cur{background-color:#f00;}