/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}

/* 整体的 */
.bgcolor-3aa{
	background-color:#3aaee1;
}
.bgcolor-ffc000{
	background-color:#ffc000;
	border: 1px solid #ffc000;
}
.bgcolor-ffffff{
	background-color:#ffffff;
}
.content-line-2{
	max-height: 40px;
	overflow: hidden;
}
.font-col-orange{
	color: #ffc000;
}
.font-col-white{
	color: white;
}
.linehei-23p{
	line-height: 23px;
}
.top-left-right{
	height: 44px;
	font-size: 14px !important;
	color: white;
	line-height: 22px;
}
.top-middle{
	color: white;
	font-size: 18px;
	font-weight: 600;

}

/* infoList.html css */
.mtb-05r{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.fontsize-16p{
	font-size: 16px;
}
.fontsize-14p{
	font-size: 14px !important;
}
.pr-15p{
	padding-right: 15px !important;
}

/* infoContext.html css */
.ptb-1r{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* shopBoard.html css */
.ml-8{
	margin-left: 8%;
}
.ml-25{
	margin-left: 25%;
}
.ml-50{
	margin-left: 50%;
}
.mt-3p{
	margin-top: 3px;
}
.mr-10p{
	margin-right: 10px;
}
.pt-10p{
	padding-top: 10px;
}
.right-6{
	right: 6%;
}
.right-8{
	right:8% !important;
}
.whe-right{
	position: absolute;
	width: 100px;
	margin-right: -6px;
	text-align: right;
	top:25%;
}
.yellow-dot{
	width: 10px;
}
.viewed-font{
	color: #c7c7c7;

}
.lineHeight-24{
	line-height: 24px;
}
.z-index{
	z-index:101;
}
