<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="*" />
	<bean id="loggingInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass"
			value="com.gudeng.framework.core2.config.LogbackConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>${maven.logger}</value>
			</list>
		</property>
	</bean>
	<bean id="baseDao" class="com.gudeng.commerce.gd.report.dao.impl.BaseDaoImpl" />
	
	<bean id="cacheBo" class="com.gudeng.commerce.gd.report.bo.CacheBo"></bean>
	
	<bean id="demoToolService" class="com.gudeng.commerce.gd.report.service.impl.DemoToolServiceImpl"/>
	
	<!-- 添加对应模板 -->
	<bean id="goodsService" class="com.gudeng.commerce.gd.report.service.impl.GoodsServiceImpl"></bean>
	
	<bean id="goodsDataBuilder" class="com.gudeng.commerce.gd.report.data.GoodsDataBuilder"></bean>
	
	<bean id="goodsDataCacheService" class="com.gudeng.commerce.gd.report.data.GoodsDataCacheServiceImpl"></bean>
	
	<bean id="goodsDataService" class="com.gudeng.commerce.gd.report.data.GoodsDataServiceImpl">
		<property name="dataCacheService" ref="goodsDataCacheService"></property>
	</bean>
	
	<!-- 添加对应模板 end -->

	<bean id="tradeService" class="com.gudeng.commerce.gd.report.service.impl.TradeServiceImpl"></bean>

	<bean id="tradeDataBuilder" class="com.gudeng.commerce.gd.report.data.TradeDataBuilder"></bean>

	<bean id="tradeDataCacheService" class="com.gudeng.commerce.gd.report.data.TradeDataCacheServiceImpl"></bean>

	<bean id="tradeDataService" class="com.gudeng.commerce.gd.report.data.TradeDataServiceImpl">
		<property name="dataCacheService" ref="tradeDataCacheService"></property>
	</bean>
	
	<!-- 电话统计模板 start -->
	<bean id="phoneService" class="com.gudeng.commerce.gd.report.service.impl.PhoneServcieImpl"></bean>
	
	<bean id="phoneDataBuilder" class="com.gudeng.commerce.gd.report.data.PhoneDataBuilder"></bean>
	
	<bean id="phoneDataCacheService" class="com.gudeng.commerce.gd.report.data.PhoneDataCacheServiceImpl"></bean>
	
	<bean id="phoneDataService" class="com.gudeng.commerce.gd.report.data.PhoneDataServiceImpl">
		<property name="dataCacheService" ref="phoneDataCacheService"></property>
	</bean>
	<!-- 电话统计模板 end -->
</beans>