<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:p="http://cxf.apache.org/policy" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
   	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
   	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
   	http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd 
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="defaultHandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	
	<bean name="/service/grdProPertenService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProPertenService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProPertenService" />
	</bean>
	
	<bean name="/service/grdProMemberInvitedRegisterService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProMemberInvitedRegisterService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProMemberInvitedRegisterService" />
	</bean>
	<bean name="/service/grdProPersonalAuthService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProPersonalAuthService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProPersonalAuthService" />
	</bean>	
	
	<bean name="/service/grdProSupplyofgoodHandoutService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProSupplyofgoodHandoutService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProSupplyofgoodHandoutService" />
	</bean>
	
	<bean name="/service/grdProOrderRecievedService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProOrderRecievedService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProOrderRecievedService" />
	</bean>
	
	<bean name="/service/grdProInfoOrderService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProInfoOrderService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProInfoOrderService" />
	</bean>
	
	<bean name="/service/grdProFreightOrderService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProFreightOrderService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProFreightOrderService" />
	</bean>
	<bean name="/service/grdProCallstatisticsService.hs" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="grdProCallstatisticsService" />
		<property name="serviceInterface" value="com.gudeng.commerce.gd.bi.service.GrdProCallstatisticsService" />
	</bean>

</beans>