<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="*" />

	<bean id="loggingInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass"
			value="com.gudeng.framework.core2.config.LogbackConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>@{maven.logger}</value>
			</list>
		</property>
	</bean>

	<bean id="demoService" class ="com.gudeng.commerce.info.home.service.impl.DemoServiceImpl"></bean>
	<bean id="sysRegisterUserHomeService" class ="com.gudeng.commerce.info.home.service.impl.SysRegisterUserHomeServiceImpl"></bean>
	<bean id="sysmessageHomeService" class ="com.gudeng.commerce.info.home.service.impl.SysmessageHomeServiceImpl"></bean>
	<bean id="sysmessageuserHomeService" class ="com.gudeng.commerce.info.home.service.impl.SysmessageuserHomeServiceImpl"></bean>

	<!-- 图表详情服务 -->
	<bean id="reportsToolService" class="com.gudeng.commerce.info.home.service.impl.ReportsToolServiceImpl"></bean>
	<!-- 交易流水图表服务 -->
	<bean id="proBszbankToolService" class ="com.gudeng.commerce.info.home.service.impl.ProBszbankToolServiceImpl"></bean>

	<bean id="sysUserRoleService" class ="com.gudeng.commerce.info.home.service.impl.SysUserRoleServiceImpl"></bean>
	<bean id="sysLoginService" class ="com.gudeng.commerce.info.home.service.impl.SysLoginServiceImpl"></bean>
	<bean id="boardToolService" class ="com.gudeng.commerce.info.home.service.impl.BoardToolServiceImpl"></bean>
	<bean id="sysUserBoardHomeService" class ="com.gudeng.commerce.info.home.service.impl.SysUserBoardHomeServiceImpl"></bean>

</beans>