/** css reset s **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}
ol,ul,li{list-style:none}
*{-webkit-tap-highlight-color: transparent;tap-highlight-color: transparent;}
img{vertical-align:top;border:none;}
textarea{overflow: auto;vertical-align: top;resize:none;}
body{width:auto;height:auto;_height:100%;min-height:100%;}
body,input,textarea{font-family: Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
button,input,select,textarea {font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
table {border-collapse:collapse;border-spacing:0}
em,i,b{ font-style:normal; font-weight:normal;}
a{text-decoration:none;cursor:pointer;text-decoration: none;}
a:focus{outline:0;}
input,button,select,textarea{ outline:none; border:none 0; background:none;}
input{-webkit-appearance: none;}
body{font-size: 62.5%;}
/** css reset e **/

body{background: #f7f7f7;}
body, a{color: #666666;}
.mui-bar {
    background-color: #3bb650!important;
}

.mui-title {
    color: #ffffff!important;
}

.mui-bar .mui-btn-link {
    color: #ffffff!important;
}
/*隐藏确认框标题*/
.mui-popup-title{
    display: none;
}
/*.close {
    padding: 15px;
    background: #ffeddd;
    width: 100%;
    border-bottom: 1px solid #ccc;  
    margin-top: 2px; 
    color: #3bb650;
}*/
.mui-bar.ios{padding-top: 20px;height: 64px;}
.order-wrap.ios{top: 64px;}
.order-wrap{background: #fff;/*margin: 44px 0;*/position: absolute;top: 44px;width: 100%;bottom: 2rem;
    overflow: auto;}
.order-list .list-item{padding: .2rem;border-bottom: #f7f7f7 1px solid;position: relative;height: 2.4rem;}
.order-list .good-info-wrap {
    height: 2rem;
    position: absolute;
    top: .2rem;
    right: .2rem;
    left: 2.5rem;
}
.order-list .good-pic{width: 2rem;height: 2rem;margin: 0 .22rem 0 .1rem;float: left;}
.order-list .good-name {
    font-size: .32rem;
    word-break: break-all;
    word-wrap: break-word;
    /* margin-left: 2.3rem; */
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.order-list .good-price{color: #999999;font-size: .24rem;position: absolute;bottom: .4rem;}
.order-list .del-btn{color: #ff6c00;border: #ff6c00 1px solid;width: 1.2rem;height: .6rem;
	line-height: .6rem;font-size: .28rem;text-align: center;border-radius: 1px;position: absolute;
	right: 0;bottom: .3rem;}
.order-list-wrap .switch-btn{color: #ff6c00;font-size: .24rem;text-align: center;line-height: 1rem;
	border-bottom: #e7e7e7 1px solid;}
.order-list-wrap .switch-btn .status-img{background: no-repeat center;width: .19rem;height: .21rem;
	background-size: 100% 100%;display: inline-block;margin: 0 .16rem;}
.order-list-wrap .switch-btn.open .status-img{background-image: url(../images/sell/open.png);}
.order-list-wrap .switch-btn.close .status-img{background-image: url(../images/sell/close.png);}
.order-list-wrap .switch-bar{display: inline-block;}
.price-wrap{padding: .2rem;}
.price-wrap .price-list{width: 100%;color: #999999;font-size: .24rem;}
.price-wrap .price-list tr td:last-child{text-align: right;}
.price-wrap .price-list .edit-price{display: none;}
.all-price{border-top: 1px solid #eeeeee;padding: .26rem .2rem;font-size: .28rem;}
.all-price .price{float: right;}

.footer-wrap{position: fixed;bottom: 0;left: 0;width: 100%;}
.footer-wrap .price-bar{color: #fff;background: #5a5a5a;font-size: .32rem;padding: .3rem .2rem;}
.footer-wrap .tool-bar .btn{padding: .16rem .25rem;font-size: .28rem;display: inline-block;
	border: #999999 1px solid;border-radius: 4px;float: right;margin: .2rem .2rem .2rem 0;}

.mark-warp{position: fixed;top: 0;left: 0;bottom: 0;width: 100%;background: rgba(0,0,0,.7);display: none;}
.mark-warp .qrcode-box{margin: 3.1rem .9rem;text-align: center;background: #fff;border-radius: 5px;
	padding: .88rem 0 .24rem 0;font-size: .28rem;}
.mark-warp .qrcode-img{width: 100%;height: 100%;margin: 0 auto;}
.mark-warp .qrcode-img table{width: 4.4rem !important;height: 4.4rem !important;margin: 0 auto;}
.mark-warp .qrcode-img table tr{width: 4.4rem !important;}
.mark-warp .qrcode-img canvas{width: 4.4rem !important;height: 4.4rem !important;margin: 0 auto;}
.mark-warp .qrcode-img img{width: 4.4rem !important;height: 4.4rem !important;}
.mark-warp .desc{margin: .3rem 0;}
.mark-warp .tool-bar .btn{display: inline-block;width: 1.8rem;height: .6rem;line-height: .6rem;
	margin-right: .2rem;border: #999999 1px solid;border-radius: 4px;}
.btn.em.em{color: #fff;background: #ff6c00;border: none;}